<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Trang chủ | Quản trị viên</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Main CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/home/css/main.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!-- or -->
<link rel="stylesheet"
	href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body onload="time()" class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header class="app-header">
		<!-- Navbar Right Menu-->
		<ul class="app-nav">
			<!-- User Menu-->
			<li><a class="app-nav__item" th:href="@{#}"> <i
					class='bx bx-log-out bx-rotate-180'></i>
			</a></li>
		</ul>
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside class="app-sidebar">
		<div class="app-sidebar__user">
			<img class="app-sidebar__user-avatar" th:src="@{/images/hay.jpg}"
				width="50px" alt="User Image">
			<div>
				<p class="app-sidebar__user-name"
					th:object="${#session.getAttribute('userLogin')}">
					<b th:text="*{ho}"></b> <b th:text="*{ten}"></b>
				</p>
				<p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
			</div>
		</div>
		<hr>
		<ul class="app-menu">
			<li><a class="app-menu__item active" th:href="@{/Admin}"> <i
					class='app-menu__icon bx bxs-home'></i> <span
					class="app-menu__label">Trang chủ Admin</span>
			</a></li>
			<li><a class="app-menu__item " th:href="@{/danhsachgiaovien}">
					<i class='app-menu__icon bx bx-list-ul'></i> <span
					class="app-menu__label">Danh sách giáo viên</span>
			</a></li>
			<li><a class="app-menu__item" th:href="@{/danhsachlop}"> <i
					class='app-menu__icon bx bx-pencil'></i> <span
					class="app-menu__label">Danh sách lớp</span>
			</a></li>
			<li><a class="app-menu__item" th:href="@{/phancong}"> <i
					class='app-menu__icon bx bx-pencil'></i> <span
					class="app-menu__label">Phân công giảng dạy</span>
			</a></li>
			<li><a class="app-menu__item" th:href="@{/danhsachhocsinh}">
					<i class='app-menu__icon bx bx-detail'></i> <span
					class="app-menu__label">Danh sách học sinh</span>
			</a></li>
			<li><a class="app-menu__item" th:href="@{/index}"> <i
					class='app-menu__icon bx bx-log-out'></i> <span
					class="app-menu__label">Đăng xuất</span>
			</a></li>
		</ul>
	</aside>
	<!-- Main contain -->
	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="app-title">
					<ul class="app-breadcrumb breadcrumb">
						<li class="breadcrumb-item"><b>Quản trị viên</b></li>
					</ul>
					<div id="clock"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Left-->
			<div class="col-md-12 col-lg-6">
				<div class="row">
					<!-- col-6-->
					<div class="col-md-6">
						<div class="widget-small primary coloured-icon">
							<i class='icon bx bxs-user-account fa-3x'></i>
							<div class="info">
								<h4>Tổng giáo viên</h4>
								<p>
									<b th:text="${dsGV.size()}"></b>
								</p>
								<p class="info-tong">Tổng số giáo viên được quản lý.</p>
							</div>
						</div>
					</div>
					<!-- col-6-->
					<div class="col-md-6">
						<div class="widget-small info coloured-icon">
							<i class='icon bx bxs-data fa-3x'></i>
							<div class="info">
								<h4>Tổng học sinh</h4>
								<p>
									<b th:text="${dsHS.size()}"></b>
								</p>
								<p class="info-tong">Tổng số học sinh được quản lý.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget-small info coloured-icon">
							<i class='icon bx bxs-data fa-3x'></i>
							<div class="info">
								<h4>Tổng số lớp</h4>
								<p>
									<b th:text="${dsL.size()}"></b>
								</p>
								<p class="info-tong">Tổng số học sinh được quản lý.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget-small info coloured-icon">
							<i class='icon bx bxs-data fa-3x'></i>
							<div class="info">
								<h4>Tổng phân công</h4>
								<p>
									<b th:text="${dsPC.size()}"></b>
								</p>
								<p class="info-tong">Tổng số học sinh được quản lý.</p>
							</div>
						</div>
					</div>
					<!-- col-6
          			<div class="col-md-6">
            			<div class="widget-small warning coloured-icon">
            				<i class='icon bx bxs-shopping-bags fa-3x'></i>
              				<div class="info">
				                <h4>Tổng đơn hàng</h4>
				                <p><b>247 đơn hàng</b></p>
				                <p class="info-tong">Tổng số hóa đơn bán hàng trong tháng.</p>
              				</div>
            			</div>
          			</div>-->
					<!-- col-6
          			<div class="col-md-6">
            			<div class="widget-small danger coloured-icon">
            				<i class='icon bx bxs-error-alt fa-3x'></i>
              				<div class="info">
				                <h4>Sắp hết hàng</h4>
				                <p><b>4 sản phẩm</b></p>
				                <p class="info-tong">Số sản phẩm cảnh báo hết cần nhập thêm.</p>
				            </div>
            			</div>
          			</div>-->
					<!-- col-12-->
					<div class="col-md-12">
						<div class="tile">
							<h3 class="tile-title">Top 3 học sinh đạt điểm cao</h3>
							<div>
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Mã học sinh</th>
											<th>Điểm hệ 1</th>
											<th>Điểm hệ 2</th>
											<th>Điểm hệ 3</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d:${dsDT3}">
											<td th:text=${d.maHS}></td>
											<td th:text=${d.diemHe1}></td>
											<td th:text=${d.diemHe2}></td>
											<td th:text=${d.diemHe3}></td>

										</tr>
									</tbody>
								</table>
							</div>
							<!-- <div class="embed-responsive embed-responsive-16by9">
                				<canvas class="embed-responsive-item" id="lineChartDemo"></canvas> 
                				
              				</div>-->
						</div>
					</div>

				</div>
			</div>
			<!--END left-->

			<!-- Right-->
			<div class="col-md-12 col-lg-6">
				<div class="row">
					<div class="col-md-12">
						<div class="tile">
							<h3 class="tile-title">Thống kê điểm số</h3>
							<canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>
							<!-- <div class="embed-responsive embed-responsive-16by9">
                				<canvas class="embed-responsive-item" id="lineChartDemo"></canvas> 
                				
              				</div>-->
						</div>
					</div>
					<div class="col-md-12">
						<div class="tile">
							<h3 class="tile-title">Danh sách học sinh giỏi</h3>
							<div>
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Mã học sinh</th>
											<th>Mã môn học</th>
											<th>Điểm hệ 1</th>
											<th>Điểm hệ 2</th>
											<th>Điểm hệ 3</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d:${dsHSG}">
											<td th:text=${d.maHS}></td>
											<td th:text=${d.maPC}></td>
											<td th:text=${d.diemHe1}></td>
											<td th:text=${d.diemHe2}></td>
											<td th:text=${d.diemHe3}></td>

										</tr>
									</tbody>
								</table>
							</div>
							<!-- <div class="embed-responsive embed-responsive-16by9">
                				<canvas class="embed-responsive-item" id="lineChartDemo"></canvas> 
                				
              				</div>-->
						</div>
					</div>
				</div>
			</div>
			<!--END right-->
		</div>

		<div class="text-center" style="font-size: 13px">
			<p>
				<b> Copyright <script type="text/javascript">
					document.write(new Date().getFullYear());
				</script> Phần mềm quản lý điểm trường THPT Đỗ Đăng Tuyển
				</b>
			</p>
		</div>
	</main>

	<script th:src="@{/home/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/home/js/popper.min.js}"></script>
	<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
	<script th:src="@{/home/js/bootstrap.min.js}"></script>
	<script th:src="@{/home/js/main.js}"></script>
	<script th:src="@{/home/js/plugins/pace.min.js}"></script>
	<script type="text/javascript" th:src="@{/home/js/plugins/chart.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

	<script type="text/javascript">
		//Thời Gian
		function time() {
			var today = new Date();
			var weekday = new Array(7);
			weekday[0] = "Chủ Nhật";
			weekday[1] = "Thứ Hai";
			weekday[2] = "Thứ Ba";
			weekday[3] = "Thứ Tư";
			weekday[4] = "Thứ Năm";
			weekday[5] = "Thứ Sáu";
			weekday[6] = "Thứ Bảy";
			var day = weekday[today.getDay()];
			var dd = today.getDate();
			var mm = today.getMonth() + 1;
			var yyyy = today.getFullYear();
			var h = today.getHours();
			var m = today.getMinutes();
			var s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			nowTime = h + " giờ " + m + " phút " + s + " giây";
			if (dd < 10) {
				dd = '0' + dd
			}
			if (mm < 10) {
				mm = '0' + mm
			}
			today = day + ', ' + dd + '/' + mm + '/' + yyyy;
			tmp = '<span class="date"> ' + today + ' - ' + nowTime + '</span>';
			document.getElementById("clock").innerHTML = tmp;
			clocktime = setTimeout("time()", "1000", "Javascript");

			function checkTime(i) {
				if (i < 10) {
					i = "0" + i;
				}
				return i;
			}
		}

		// chart JS
	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var xValues = /*[[${diem}]]*/'default';
		var data1 = /*[[${dsD.get(0).diemHe1}*10]]*/'default';
		var data2 = /*[[${dsD.get(0).diemHe2}*10]]*/'default';
		var data3 = /*[[${dsD.get(0).diemHe3}*10]]*/'default';
		new Chart("myChart", {
			type : "line",
			data : {
				labels : xValues,
				datasets : [ {
					data : /*[[${diem1}]]*/'',
					borderColor : "red",
					label : 'Điểm Hệ 1',
					fill : true
				}, {
					data : /*[[${diem2}]]*/'',
					borderColor : "green",
					label : 'Điểm Hệ 2',
					fill : true
				}, {
					data : /*[[${diem3}]]*/'',
					borderColor : "blue",
					label : 'Điểm Hệ 3',
					fill : true
				} ]
			},
			options : {
				legend : {
					display : true
				},
				title : {
					display : true,
					text : 'World population per region (in millions)'
				}
			}
		});

		/*]]>*/
	</script>
</body>

</html>