<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Danh sách phân công giảng dạy | Giáo viên bộ môn</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Main CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/home/css/main.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!-- or -->
<link rel="stylesheet"
	href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body onload="time()" class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header class="app-header">
		<!-- Navbar Right Menu-->
		<ul class="app-nav">
			<!-- User Menu-->
			<li><a class="app-nav__item" th:href="@{#}"> <i
					class='bx bx-log-out bx-rotate-180'></i>
			</a></li>
		</ul>
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside class="app-sidebar">
		<div class="app-sidebar__user">
			<img class="app-sidebar__user-avatar" th:src="@{/images/hay.jpg}"
				width="50px" alt="User Image">
			<div>
				<p class="app-sidebar__user-name"
					th:object="${#session.getAttribute('userLogin')}">
					<b th:text="*{ho}"></b> <b th:text="*{ten}"></b>
				</p>
				<p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
			</div>
		</div>
		<hr>
		<ul class="app-menu">
			<li><a class="app-menu__item active" th:href="@{/Admin}"> <i
					class='app-menu__icon bx bxs-home'></i> <span
					class="app-menu__label">Trang chủ Admin</span>
			</a></li>
			<li><a class="app-menu__item " th:href="@{/danhsachgiaovien}">
					<i class='app-menu__icon bx bx-list-ul'></i> <span
					class="app-menu__label">Danh sách giáo viên</span>
			</a></li>
			<li><a class="app-menu__item" th:href="@{/danhsachlop}"> <i
					class='app-menu__icon bx bx-pencil'></i> <span
					class="app-menu__label">Danh sách lớp</span>
			</a></li>
			<li><a class="app-menu__item" th:href="@{/phancong}"> <i
					class='app-menu__icon bx bx-pencil'></i> <span
					class="app-menu__label">Phân công giảng dạy</span>
			</a></li>
			<li><a class="app-menu__item" th:href="@{/danhsachhocsinh}">
					<i class='app-menu__icon bx bx-detail'></i> <span
					class="app-menu__label">Danh sách học sinh</span>
			</a></li>
			<li><a class="app-menu__item" th:href="@{/index}"> <i
					class='app-menu__icon bx bx-log-out'></i> <span
					class="app-menu__label">Đăng xuất</span>
			</a></li>
		</ul>
	</aside>
	<!-- Main contain -->
	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active"><a href="#"><b>Danh
							sách</b></a></li>
			</ul>
			<div id="clock"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">
						<div class="row element-button">
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary btn-sm"
									data-toggle="modal" data-target="#ModalLoginForm">
									Thêm mới</button>
							</div>
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary btn-sm"
									data-toggle="modal" data-target="#ModalDeleteForm">
									Xóa</button>
							</div>

							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm print-file" type="button"
									title="In" onclick="myApp.printTable()"> <i
									class="fas fa-print"></i> In dữ liệu
								</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm print-file js-textareacopybtn"
									type="button" title="Sao chép"> <i class="fas fa-copy"></i>
									Sao chép
								</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-excel btn-sm" href="" title="In"> <i
									class="fas fa-file-excel"></i> Xuất Excel
								</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm pdf-file" type="button"
									title="In" onclick="myFunction(this)"> <i
									class="fas fa-file-pdf"></i> Xuất PDF
								</a>
							</div>
						</div>
						<table class="table table-hover table-bordered" id="sampleTable">
							<thead>
								<tr>
									<th width="10"><input type="checkbox" id="all"></th>
									<th>Mã phân công</th>
									<th>Mã giáo viên</th>
									<th>Mã lớp học</th>
									<th>Mã học kỳ</th>
									<th>Mã môn học</th>
								</tr>
							</thead>
							<tbody th:if="${dsPC != null && !dsPC.empty}">
								<div th:each="phanCong: ${dsPC}">
									<tr th:object="${phanCong}">
										<td width="10"><input type="checkbox" name="check1"
											value="1"></td>
										<td th:text=*{maPC}></td>
										<td th:text=*{maGV}></td>
										<td th:text=*{maLH}></td>
										<td th:text=*{maHK}></td>
										<td th:text=*{maMH}></td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal HTML Markup -->
		<div id="ModalLoginForm" class="modal fade">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="control-label">Thêm lớp học</h1>
					</div>
					<div class="modal-body">
						<form role="form" method="POST" th:action="@{/4}"
							th:object="${phanCong}">
							<input type="hidden" name="_token" value="">
							<div class="form-group">
								<label class="control-label">Mã phân công</label>
								<div>
									<input type="text" class="form-control input-lg"
										th:field="*{maPC}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Mã học kỳ</label>
								<div>
									<select name="maHK">
										<option selected>Chọn ...</option>
										<option value="HK001">Kỳ 1_2019-2020</option>
										<option value="HK002">Kỳ 2_2019-2020</option>
										<option value="HK003">Kỳ 1_2020-2021</option>
										<option value="HK004">Kỳ 2_2020-2021</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Mã giáo viên</label>
								<div>

									<select name="maGV">
										<option selected>Chọn ...</option>
										<th:block th:each="gv : ${dsGV}">
											<option th:value="${gv.maGV}"
												th:text="${gv.maGV}+'_'+${gv.ho}+' '+${gv.ten}" />
										</th:block>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Mã lớp học</label>
								<div>

									<select name="maLH">
										<option selected>Chọn ...</option>
										<th:block th:each="lh : ${dsL}">
											<option th:value="${lh.maLH}"
												th:text="${lh.maLH}+'_'+${lh.tenLH}" />
										</th:block>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Mã môn học</label>
								<div>

									<select name="maMH">
										<option selected>Chọn ...</option>
										<th:block th:each="mh : ${dsMH}">
											<option th:value="${mh.maMH}"
												th:text="${mh.maMH}+'_'+${mh.tenMH}" />
										</th:block>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div>
									<div class="checkbox">
										<label> <input type="checkbox" name="remember">
											Remember Me
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div>
									<button type="submit" class="btn btn-success">Thêm</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			
				<!-- /.modal-dialog -->
			</div>
<div id="ModalDeleteForm" class="modal fade">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="control-label">Xóa giáo viên</h1>
						</div>
						<div class="modal-body">
							<form role="form" method="POST" th:action="@{/deleteGiaoVien}"
								th:object="${giaoVien}">
								<input type="hidden" name="_token" value="">
								<div class="form-group">
									<label class="control-label">Mã giáo viên</label>
									<div>

										<select name="maGV">
											<option selected>Chọn ...</option>
											<th:block th:each="pc : ${dsPC}">
												<option th:value="${pc.maPC}"
													th:text="${pc.maGV}+'_'+${pc.maLH}+'_'+${pc.maHK}+'_'+${pc.maMH}" />
											</th:block>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div>
										<div class="checkbox">
											<label> <input type="checkbox" name="remember">
												Remember Me
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div>
										<button type="submit" class="btn btn-delete">Xóa</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
			<!-- /.modal-dialog -->
	</main>

	<!-- Essential javascripts for application to work-->
	<script th:src="@{/home/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/home/js/popper.min.js}"></script>
	<script th:src="@{/home/js/bootstrap.min.js}"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script th:src="@{/home/js/jquery.table2excel.js}"></script>
	<script th:src="@{/home/js/main.js}"></script>
	<!-- The javascript plugin to display page loading on top-->
	<script th:src="@{/home/js/plugins/pace.min.js}"></script>
	<!-- Page specific javascripts-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<!-- Data table plugin-->
	<script type="text/javascript"
		th:src="@{/home/js/plugins/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/home/js/plugins/dataTables.bootstrap.min.js}"></script>

	<script type="text/javascript">
		$('#sampleTable').DataTable();
		//Thời Gian
		function time() {
			var today = new Date();
			var weekday = new Array(7);
			weekday[0] = "Chủ Nhật";
			weekday[1] = "Thứ Hai";
			weekday[2] = "Thứ Ba";
			weekday[3] = "Thứ Tư";
			weekday[4] = "Thứ Năm";
			weekday[5] = "Thứ Sáu";
			weekday[6] = "Thứ Bảy";
			var day = weekday[today.getDay()];
			var dd = today.getDate();
			var mm = today.getMonth() + 1;
			var yyyy = today.getFullYear();
			var h = today.getHours();
			var m = today.getMinutes();
			var s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			nowTime = h + " giờ " + m + " phút " + s + " giây";
			if (dd < 10) {
				dd = '0' + dd
			}
			if (mm < 10) {
				mm = '0' + mm
			}
			today = day + ', ' + dd + '/' + mm + '/' + yyyy;
			tmp = '<span class="date"> ' + today + ' - ' + nowTime + '</span>';
			document.getElementById("clock").innerHTML = tmp;
			clocktime = setTimeout("time()", "1000", "Javascript");

			function checkTime(i) {
				if (i < 10) {
					i = "0" + i;
				}
				return i;
			}
		}
	</script>
</body>

</html>