<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Trang chủ | Giáo viên bộ môn</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Main CSS-->
	<link rel="stylesheet" type="text/css" th:href="@{/home/css/main.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
	<!-- or -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
	
	<!-- Font-icon css-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body onload="time()" class="app sidebar-mini rtl">
	<!-- Navbar-->
  	<header class="app-header">
    	<!-- Navbar Right Menu-->
    	<ul class="app-nav">
			<!-- User Menu-->
    		<li>
    			<a class="app-nav__item" th:href="@{/logout}">
    				<i class='bx bx-log-out bx-rotate-180'></i> 
    			</a>
    		</li>
    	</ul>
  	</header>
  	<!-- Sidebar menu-->
  	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  	<aside class="app-sidebar">
    	<div class="app-sidebar__user">
    		<img class="app-sidebar__user-avatar" th:src="@{/images/hay.jpg}" width="50px" alt="User Image">
      		<div>
        		<p class="app-sidebar__user-name" th:object="${#session.getAttribute('userLogin')}">
        			<b th:text="*{ho}"></b>
        			<b th:text="*{ten}"></b>
        		</p>
        		<p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
      		</div>
    	</div>
    	<hr>
	    <ul class="app-menu">
	      	<li>
		      	<a class="app-menu__item active" th:href="@{/gvbm/home}">
		      		<i class='app-menu__icon bx bxs-home'></i>
		      		<span class="app-menu__label">Trang chủ</span>
		      	</a>
	     	</li>
	      	<li>
		      	<a class="app-menu__item " th:href="@{/gvbm/danhsachday}">
		      		<i class='app-menu__icon bx bx-list-ul'></i> 
		      		<span class="app-menu__label">Danh sách môn dạy</span>
		    	</a>
		  	</li>
	      	<li>
		      	<a class="app-menu__item" th:href="@{/gvbm/thongtincanhan}">
		      		<i class='app-menu__icon bx bx-detail'></i>
		      		<span class="app-menu__label">Thông tin cá nhân</span>
		      	</a>
	      	</li>
	      	<li>
		      	<a class="app-menu__item" th:href="@{/logout}">
		      		<i class='app-menu__icon bx bx-log-out'></i>
		      		<span class="app-menu__label">Đăng xuất</span>
		      	</a>
	    	</li>
	    </ul>
  	</aside>
  	<!-- Main contain -->
  	<main class="app-content">
    	<div class="row">
      		<div class="col-md-12">
        		<div class="app-title">
          			<ul class="app-breadcrumb breadcrumb">
            			<li class="breadcrumb-item"><b>Giáo viên bộ môn</b></li>
          			</ul>
          			<div id="clock"></div>
        		</div>
      		</div>
    	</div>
    	<div class="row">
      		<!-- Left -->
      		<div class="col-md-12 col-lg-12">
        		<div class="row">
       				<!-- col-6 -->
       				<div class="col-md-6">
        				<div class="widget-small primary coloured-icon">
        					<i class='icon bx bxs-shopping-bags fa-3x'></i>
          					<div class="info">
            					<h4>Tổng học phần đã phụ trách</h4>
            					<p><b th:text=${tongHPPT}></b><b> học phần</b></p>
            					<p class="info-tong">Tổng số học phần.</p>
          					</div>
        				</div>
      				</div>
       				<!-- col-6 -->
          			<div class="col-md-6">
            			<div class="widget-small info coloured-icon">
            				<i class='icon bx bxs-shopping-bags fa-3x'></i>
              				<div class="info">
                				<h4>Tổng học phần đang phụ trách</h4>
				                <p><b th:text=${tongHPDangPT}></b><b> học phần</b></p>
				                <p class="info-tong">Tổng số học phần.</p>
              				</div>
            			</div>
          			</div>
           			<!-- col-6 -->
          			<div class="col-md-6">
            			<div class="widget-small warning coloured-icon">
            				<i class='icon bx bxs-shopping-bags fa-3x'></i>
              				<div class="info">
				                <h4>Tổng môn dạy</h4>
				                <p><b th:text=${tongMH}></b><b> môn học</b></p>
				                <p class="info-tong">Tổng môn học.</p>
              				</div>
            			</div>
          			</div>
           			<!-- col-6 -->
          			<div class="col-md-6">
            			<div class="widget-small danger coloured-icon">
            				<i class='icon bx bxs-shopping-bags fa-3x'></i>
              				<div class="info">
				                <h4>Tổng học sinh đang phụ trách</h4>
				                <p><b>100</b><b> học sinh</b></p>
				                <p class="info-tong">Tổng học sinh.</p>
				            </div>
            			</div>
          			</div>
             		<!-- col-12 -->
            		<div class="col-md-12">
                		<div class="tile">
                  			<h3 class="tile-title">Điểm nhập gần đây</h3>
                			<div>
                  				<table class="table table-hover">
                    				<thead>
                      					<tr>
                      						<td width="10"><input type="checkbox" name="check1" value="1"></td>
					                        <th>Mã học sinh</th>
					                        <th>Điểm miệng</th>
					                        <th>Điểm thi giữa kỳ</th>
					                        <th>Điểm thi cuối kỳ</th>
					                        <th>Sửa</th>
                      					</tr>
                    				</thead>
                    				<tbody th:if="${list != null && !list.empty}">
		                            	<div th:each="diem: ${list}">
			                                <tr th:object="${diem}">
			                                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
			                                    <td th:text=*{maHS}></td>
			                                    <td th:text=*{diemHe1}></td>
			                                    <td th:text=*{diemHe2}></td>
			                                    <td th:text=*{diemHe3}></td>
			                                    <td>
			                                    	<button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal" th:attr="data-target='#'">
								                      	<i class="fas fa-edit"></i>
								                    </button>
			                                    </td>
			                                </tr>
		                                </div>
		                            </tbody>
                  				</table>
                			</div>
                		</div>
            		</div>
        		</div>
      		</div>
      		<!-- END left -->
    	</div>

    	<div class="text-center" style="font-size: 13px">
      		<p><b>
      			Copyright
	          	<script type="text/javascript">
	            	document.write(new Date().getFullYear());
	          	</script> Phần mềm quản lý điểm trường THPT Đỗ Đăng Tuyển
        	</b></p>
    	</div>
  	</main>
  	
  	<script th:src="@{/home/js/jquery-3.2.1.min.js}"></script>
  	<script th:src="@{/home/js/popper.min.js}"></script>
  	<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
  	<script th:src="@{/home/js/bootstrap.min.js}"></script>
  	<script th:src="@{/home/js/main.js}"></script>
  	<script th:src="@{/home/js/plugins/pace.min.js}"></script>
  	<script type="text/javascript" th:src="@{/home/js/plugins/chart.js}"></script>
  	
  	<script type="text/javascript">
	    //Thời Gian
	    function time() {
	      var today = new Date();
	      var weekday = new Array(7);
	      weekday[0] = "Chủ Nhật";
	      weekday[1] = "Thứ Hai";
	      weekday[2] = "Thứ Ba";
	      weekday[3] = "Thứ Tư";
	      weekday[4] = "Thứ Năm";
	      weekday[5] = "Thứ Sáu";
	      weekday[6] = "Thứ Bảy";
	      var day = weekday[today.getDay()];
	      var dd = today.getDate();
	      var mm = today.getMonth() + 1;
	      var yyyy = today.getFullYear();
	      var h = today.getHours();
	      var m = today.getMinutes();
	      var s = today.getSeconds();
	      m = checkTime(m);
	      s = checkTime(s);
	      nowTime = h + " giờ " + m + " phút " + s + " giây";
	      if (dd < 10) {
	        dd = '0' + dd
	      }
	      if (mm < 10) {
	        mm = '0' + mm
	      }
	      today = day + ', ' + dd + '/' + mm + '/' + yyyy;
	      tmp = '<span class="date"> ' + today + ' - ' + nowTime +
	        '</span>';
	      document.getElementById("clock").innerHTML = tmp;
	      clocktime = setTimeout("time()", "1000", "Javascript");
	
	      function checkTime(i) {
	        if (i < 10) {
	          i = "0" + i;
	        }
	        return i;
	      }
	    }
  	</script>
</body>

</html>